<!DOCTYPE html>
<html lang="en" class="o-techdocs enhanced">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>FT Search Results</title>
    <style>
        .core .o--if-js,
        .enhanced .o--if-no-js {
            display: none !important;
        }
    </style>
    <link rel="stylesheet" href="../stylesheets/bootstrap.css">
    <link rel="stylesheet" href="../stylesheets/css">
    <style>
        .sticky-footer-layout {
            display: table;
            width: 100%;
            min-height: 100vh;
            table-layout: fixed;
        }
        
        .sticky-footer-layout__content {
            height: 100%;
        }
        
        .text-centred {
            text-align: center !important;
        }
        
        .text-breakword {
            word-wrap: break-word;
        }
        
        img,
        video {
            max-width: 100%;
            height: auto;
        }
        
        .o-techdocs a.o-buttons {
            color: #fff;
        }
        
        .o-techdocs-container {
            width: 100%;
        }
        
        .o-techdocs-card__content > *:last-child {
            margin-bottom: 0;
        }
        
        a.o-techdocs-card__actionbutton {
            display: inline-block;
            color: #000;
            line-height: normal;
        }
        
        a.o-techdocs-card__actionbutton:hover {
            text-decoration: none;
        }
        
        .required-field .o-forms__label:first-child:after {
            content: ' *';
        }
    </style>
    <script type="text/javascript" async="" src="javascripts/ga.js"></script>
    <script src="javascripts/polyfill.min.js"></script>
    <script src="views/main.js"></script>

    <script>
        window.ctm = ('querySelector' in document && 'localStorage' in window && 'addEventListener' in window);

        if (window.ctm) document.documentElement.className = document.documentElement.className.replace(/\bcore\b/, 'enhanced');
    </script>

    <script>
        var _gaq = _gaq || [];
        _gaq.push(['_setAccount', 'UA-107278819-1']);
        _gaq.push(['_trackPageview']);

        (function() {
            var ga = document.createElement('script');
            ga.type = 'text/javascript';
            ga.async = true;
            ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
            var s = document.getElementsByTagName('script')[0];
            s.parentNode.insertBefore(ga, s);
        })();
    </script>

    <script>
        if (window.ctm) {
            (function(src) {
                var o = document.createElement('script');
                o.async = o.defer = true;
                o.src = src;
                var s = document.getElementsByTagName('script')[0];
                s.parentNode.insertBefore(o, s);
            })('https://www.ft.com/__origami/service/build/v2/bundles/js?modules=o-techdocs%407.0.5%2Co-header-services%402.0.2%2Co-tracking%401.2.7%2Co-cookie-message%403.0.4%2Co-autoinit%401.3.2&shrinkwrap=fontfaceobserver%402.0.13%2Cftdomdelegate%402.1.0%2Cfticons%401.9.1%2CFinancial-Times%2Fhighlight.js-shim%2Co-assets%403.0.3%2Co-buttons%405.7.0%2Co-colors%404.1.3%2Co-grid%404.3.5%2Co-fonts%403.0.3%2Co-header%407.2.3%2Co-icons%405.4.2%2Co-normalise%401.5.0%2Co-toggle%401.1.9%2Co-typography%405.3.2%2Co-utils%401.0.3%2Co-viewport%403.1.4%2Co-visual-effects%402.0.2%2Csass-mq%403.3.2%2Csuperstore-sync%402.1.1');
        }
    </script>

    <link rel="icon" href="https://www.ft.com/__assets/creatives/brand-ft/icons/v2/favicon-32x32.png" type="image/png" sizes="32x32">
    <link rel="icon" href="https://www.ft.com/__assets/creatives/brand-ft/icons/v2/favicon-194x194.png" type="image/png" sizes="16x16">
    <link rel="apple-touch-icon" sizes="180x180" href="https://www.ft.com/__assets/creatives/brand-ft/icons/v2/apple-touch-icon-180x180.png">
</head>

<body class="sticky-footer-layout">

    <div data-o-component="o-cookie-message" class="o-cookie-message o-cookie-message--banner-centric o-cookie-message--active">
        <div id="o-cookie-message" class="o-cookie-message__container">
            <div>
                <p class="o-cookie-message__description">
                    By continuing to use this site you consent to the use of cookies on your device as described in our <a href="http://help.ft.com/tools-services/how-the-ft-manages-cookies-on-its-websites/">cookie policy</a> unless you have disabled them. You can change your <a href="http://help.ft.com/help/legal-privacy/cookies/how-to-manage-cookies/">cookie settings</a> at any time but parts of our site will not function correctly without them.
                </p>
                <div class="o-cookie-message__close-btn-container">
                    <button class="o-cookie-message__close-btn" data-o-component="o-cookie-message-close" aria-controls="o-cookie-message">
                        <span class="o-cookie-message__close-btn-label">Dismiss cookie message</span>
                    </button>
                </div>
            </div>
        </div>
    </div>

    <header class="o-header-services" data-o-component="o-header" data-o-header--js="">
        <div class="o-header-services__top o-header-services__container">
            <div class="o-header-services__hamburger">
                <a class="o-header-services__hamburger-icon" href="https://developer.ft.com/portal/docs-start-here#main-main--no-js" aria-controls="o-header-drawer" role="button" data-o-toggle--js="true" aria-expanded="false"><span class="o-header__visually-hidden">Menu</span></a>
            </div>
            <div class="o-header-services__ftlogo"></div>
            <div class="o-header-services__title">
                <h1 class="o-header-services__product-name"><a href="https://developer.ft.com/portal/">Internal Products</a></h1>
            </div>

        </div>
        <div class="o-header-services__primary-nav">
            <div class="o-header-services__container">
                <ul class="o-header-services__nav-list">

                    <li class="o-header-services__nav-item">
                        <a class="o-header-services__nav-link" href="https://github.com/hungry--coder/search_ft/tree/master/public">
                        Source Code
                    </a>
                    </li>

                    <li class="o-header-services__nav-item">
                        <a class="o-header-services__nav-link" href="https://github.com/hungry--coder/search_ft/blob/master/README.md">
                        Docs
                    </a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="o-header__drawer--services o-header__drawer o--if-js" id="o-header-drawer" data-o-header-drawer="" aria-hidden="true" tabindex="-1" data-o-header-drawer--js="true">
            <div class="o-header__drawer-inner">
                <div class="o-header__drawer-tools">
                    <span>For Developers</span>
                    <button type="button" class="o-header__drawer-tools-close" aria-controls="o-header-drawer" data-o-toggle--js="true" aria-expanded="false">
                        <span class="o-header__visually-hidden">Close</span>
                    </button>
                </div>

            </div>
        </div>
    </header>

    <div class="o-techdocs-container sticky-footer-layout__content">
        <div class="o-techdocs-layout">
            <div class="o-techdocs-main--fullwidth">
                <div class="o-techdocs-content">
                    <h2>Search the FT</h2>

                    <div>
                        <input type="text" id="txtName" />
                        <a class="o-buttons o-buttons--primary o-buttons--big" href="javascript:;" onclick="this.href='/search?find=' + document.getElementById('txtName').value">Search</a>
                    </div>

                    <!-- Tabulate Search Results with Pagination -->
                    

                    <%if (search_item === "ERROR"){%> 
                        <p><h2>Unable to get new results. Possibly No internet!</h2></p> 
                    <%} else { %>
                    
       
                            <p>You have searched for `<%= search_item %>'</p>
                            <h3>Search Results: Displaying Headlines</h3>
                            <p>
                            <% var items_per_page = 10 %>
                    
                            <% try{ %>
                                    <% var total_pages = apidata.results[0].results.length / items_per_page; %>
                    
                    
                                    <% var start_item = (page_num - 1) * items_per_page;%>
                                    <% var end_item = page_num * items_per_page;%>
                    
                                    <% for(var i = start_item; i < end_item; i++){ %>
                                    <li><%= apidata.results[0].results[i].title.title; %></li>
                                    <% } %>
                                    </p>
                    
                                    <h4><i>Displaying <%= items_per_page %> results per Page </i></h4>
                                    <p>Page Number: <%= page_num %></p>
                    
                                    <p>
                    
                                    <% for (var i = 1; i <= total_pages; i++){ %>
                                    <a href='/search?find=<%=search_item%>&page_num=<%= i %>'>|  Page <%= i %>  |</a>
                                    <% } %>
                                    
                            <% } catch(e){ %> 
                                <p><h2>Unexpected error, Please refresh your browser</h2></p>
                            <% } %> 
                    <% } %>      
                        
                    </p>
                    <div></div>
                    <ul>

                    </ul>
                    <p></p>

                </div>
            </div>
        </div>
    </div>

    <footer class="o-footer o-footer--theme-dark" data-o-component="o-footer" data-o-footer--no-js="">
        <div class="o-footer__container">
            <div>

                <ul class="o-footer__legal-links">

                    <li><a href="https://developer.ft.com/portal/legal">FT Developer Programme Terms and Conditions</a></li>

                    <li><a href="https://developer.ft.com/portal/ft-attribution-guidelines">Attribution Guidelines</a></li>

                    <li><a href="https://developer.ft.com/portal/contact">Contact Us</a></li>

                    <li><a href="https://developer.ft.com/portal/docs-support">Support</a></li>

                    <li><a href="http://help.ft.com/help/legal-privacy/privacy/">FT Privacy Policy</a></li>
                    <li><a href="http://help.ft.com/help/legal-privacy/cookies/">FT Cookie Policy</a></li>
                </ul>
            </div>
            <div class="o-footer__copyright" role="contentinfo">
                <small>
                © THE FINANCIAL TIMES LTD .
                <abbr title="Financial Times" aria-label="F T">FT</abbr> and ‘Financial Times’ are trademarks of The Financial Times Ltd.
            </small>
            </div>
        </div>
        <div class="o-footer__brand">
            <div class="o-footer__container">
                <div class="o-footer__brand-logo"></div>
            </div>
        </div>
    </footer>

</body>

</html>